*.o
ramsey_cuda
ramsey_benchmark
sudoku_benchmark
mis_benchmark
dna_benchmark
benchmarks/sudoku
sat3_benchmark
sat3_trace
unit_tests
build/
*.so
baha-cli
casimir_test
chaotic_benchmark
compare_sa
conference_scheduler
dna_barcode_benchmark
graph_iso_benchmark
hard_list_coloring
hardness_barrier
labs_benchmark
max_cut
mega_benchmark
milp_benchmark
n_queens
omfg_benchmark
side_channel_benchmark
spectrum_auction
problem.json
*.fasta
